/*Fonts to Use*/
/*Headers*/
  /*font-family: 'Pangolin', cursive;*/
/*Body Copy*/
/*font-family: 'Lora', serif;*/


body {
	background: url("/assets/images/ginghamBkg.png");
	font-family: 'Hind', sans-serif;
}

img {
  display: block;
  margin: auto;
  padding-top: 40px;
  width: 350px;
}

#burger_lists {
  padding: 30px 0px 0px 230px;
}

#add_burger_box {
  padding: 10px 0px 0px 400px;
}

#add_burger {
  padding: 10px 0px 0px 70px;
}

.panel-title {
  font-family: 'Pangolin', cursive;
  font-size: 40px;
  text-align: center;
}

.panel-body {
  font-family: 'Lora', serif;
  font-size: 20px;
}